<section class="section-content my-padding  bg">
    <div class="container">
        <div class="just-padding row">

            <div class="list-group well col-md-6" ng-repeat="parentCategory in categories">

                <a class="list-group-item" data-target="#itemmain-{{$index}}" data-toggle="collapse">
                    <i class="icon-action fa fa-chevron-right" ng-hide="parentCategory.categories1.length==0"></i>
                    <span class="form-check-label">
                        {{parentCategory.categoryName }}
                    </span>
                </a>

                <div class="list-group collapse card" id="itemmain-{{$index}}">

                    <div ng-repeat="subcat in parentCategory.categories1">

                        <a data-target="#Subitem-{{$index}}-{{subcat.id}}" data-toggle="collapse">

                            <div>
                                <figure class="itemside">
                                    <div class="aside"><div class="img-wrap img-sm"><img src="{{GetcatBgImage(subcat.categoryImage)}}"></div></div>
                                    <figcaption class="p-2 align-self-center">
                                        <h6 class="title">{{subcat.categoryName}}</h6>

                                    </figcaption>
                                </figure>
                            </div>
                        </a>

                        <div class="list-group collapse" id="Subitem-{{$index}}-{{subcat.id}}">

                            <div class="form-group mb-1 list-group-item" ng-repeat="menisub in subcat.categories1" style=" border: none;">

                                <label for="brand0" ng-click="AddCatArray(menisub.id,menisub.categoryName)">{{menisub.categoryName}} </label>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>