
<!--<section id="customerwishlistscroll"class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h3>My Wishlist ({{CurrentWishList.length}}) Items</h3><p class="lead text-muted"></p>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">My Wish List</li>
                </ul>
            </div>
        </div>
    </div>
</section>-->

<section class="section-content bg my-padding ">

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icontext">
                            <div class="icon-wrap icon-sm border round"><i class="fa fa-user"></i></div>
                        </div>
                        <h5 class="bold mb-0">{{authentication.userName}}</h5>


                    </div>

                    <div class="list-group list-group-flush">
                        <a href="#/Profile" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-3"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile</a>
                        <a href="#/orders" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag mr-3"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg> Orders</a>
                        <a href="#/WishList" class="list-group-item has-badge list-group-item-action active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart mr-3"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Wishlist <span class="badge rounded badge-primary">{{CurrentWishList.length}}</span></a>
                        <!--<a href="account-address.html" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map mr-3"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg> Address</a>-->
                        <a href="" data-ng-click="logOut()" class="list-group-item list-group-item-action text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out mr-3"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Logout</a>
                    </div>
                </div>
            </div>



            <div class="col mt-3 mt-md-0">
                <div ng-hide="CurrentWishList.length==0" class="card-header">
                    <h6>My Wishlist Items({{CurrentWishList.length}})</h6>
                </div>
                <div class="card" ng-hide="CurrentWishList.length==0">
                  
                    <div class="border-bottom" ng-repeat="x in CurrentWishList  track by $index">
                      
                        <div class="row">
                       
                            <div class="col-md-2 col-5">
                                <a href=""><img class="" style="max-width: 120px ;padding-top: 10px; padding-left: 20px;" src="{{GetProductImage(x.image)}}" alt="Card image cap"></a>
                            </div>

                            <div class="col-md-10 col-7">
                                <a href="shop-single.html" class="">{{x.productName|limitTo:40}}</a>
                                <div class="attr">
                                    <div class="price mr-3"><span class="h5">{{x.productPrice|currency:"₹"}} </span></div>
                                    <!--<div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle text-success"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> In Stock</div>-->
                                </div>
                                <p class="d-flex justify-content-between align-items-center">
                                    <button class="btn rounded-pill btn-primary atc-demo" ng-click="AddToCartGlobal(x.productattrId,x,'products-slider-')" data-addclass-on-xs="btn-sm">Add to Cart</button>
                                    <button class="btn rounded-pill btn-danger" ng-click="RemoveFromwishList(x.id)" data-addclass-on-xs="btn-sm">Remove</button>
                                    <!--<button class="btn btn-link btn-icon d-inline-flex text-danger"  data-addclass-on-xs="btn-sm" data-toggle="tooltip" title="" data-original-title="Remove item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>-->
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
                <div ng-show="CurrentWishList.length==0" class="col-xl-12 wishscroll align-items-center" style="padding:40px">

                    <h6 class="text-center">your wish list is EMPTY</h6>
                    <p class="text-center">Save your favorite item in one place. Add now, buy later.</p>
                    <div class="text-center"><img src="../../img/emptyWishlist.png" height="150" /></div>
                    <div class="text-center"><a href="#/Product" class="btn btn-template wide">Continue Shopping</a></div>
                </div>

            </div>
        </div>


    </div>

    <!--<div class="container-fluid">
        <div class="share-product gray-bg d-flex align-items-center justify-content-center flex-column flex-md-row">
            <strong class="text-uppercase">Share this on</strong>
            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
        </div>
    </div>-->

</section>


<!--<style>
    .imgproduct {
   
        width: 203px;
        height: 206px;
    }
    .modal-backdrop {
        border:none;
    }
    .modal-content {
        background-color: transparent !important;
        border: none;
    }
</style>-->

<script>
    function deleteall() {
        $('.removebtn').each(function () {
            $(this).trigger("click");

        });
    }
</script>

