<!--<section class="section-content bg padding-y" data-ng-show="!authentication.isAuth && shoppingCartNew.length==0||authentication.isAuth && shoppingCartNew.length==0||!authentication.isAuth && shoppingCartNew==null||authentication.isAuth && shoppingCartNew==null">

    <div class=" container">

        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">

                        <div class="mb-4 lead">The page you are looking for was not found.</div>
                        <a href="#/home" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>-->
<style>
    .card-header {    
        background-color: #0d47a1 !important;
        color: #fff;
    }
</style>

<section class="section-content bg my-padding ">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icontext">
                            <div class="icon-wrap icon-sm border round"><i class="fa fa-user"></i></div>
                        </div>
                        <h5 class="bold mb-0">{{authentication.userName}}</h5>


                    </div>

                    <div class="list-group list-group-flush">
                        <a href="#/Profile" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-3"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile</a>
                        <a href="#/orders" class="list-group-item list-group-item-action active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag mr-3"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg> Orders</a>
                        <a href="#/WishList" class="list-group-item has-badge list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart mr-3"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Wishlist</a>
                        <!--<a href="account-address.html" class="list-group-item list-group-item-action"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map mr-3"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg> Address</a>-->
                        <a href="" data-ng-click="logOut()" class="list-group-item list-group-item-action text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out mr-3"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Logout</a>
                    </div>
                </div>
            </div>
            
            <div class="col mt-3 mt-md-0 bg">
                <div class="card">
                    <!--<h3>My Orders</h3><hr>-->
                    <div style="overflow-x:auto;">
                        <table class="table table-hover" data-addclass-on-xs="table-sm">
                            <thead class="card-header">
                                <tr>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" style="min-width:120px">Total</th>
                                    <th scope="col" class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor:pointer" ng-repeat="item in CustomerOrders.data| orderBy:'-id'" ng-click="getorderitem(CustomerOrders.customerdetails,item)">
                                    <td><a href="javascript:void(0)">{{item.orderNumber}}</a></td>
                                    <td>{{item.orderdate| date:"dd.MM.YYYY"}}</td>
                                    <td style="min-width:120px">{{item.total|currency:"₹ "}}</td>
                                    <td class="text-center">
                                        <span class="badge badge-warning rounded" ng-if="item.orderstatus=='Accepted'">{{item.orderstatus}}</span>
                                        <span class="badge badge-success rounded" style="background-color:blue!important" ng-if="item.orderstatus=='Placed'">{{item.orderstatus}}</span>
                                        <span class="badge badge-danger rounded" ng-if="item.orderstatus=='Cancalled'">{{item.orderstatus}}</span>
                                        <span class="badge badge-success rounded" ng-if="item.orderstatus=='Delivered'">{{item.orderstatus}}</span>
                                        <span class="badge badge-success rounded" style="background-color:lightgrey!important" ng-if="item.orderstatus=='InProcess'">{{item.orderstatus}}</span>
                                        <span class="badge badge-success rounded" style="background-color:purple!important" ng-if="item.orderstatus=='Shipped'">{{item.orderstatus}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<button class="btn btn-outline-success rounded-pill btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg> Download as xls</button>-->
            </div>

            <div class="card" style="display:none">
                <div style="overflow-x:auto;">
                    <table>
                        <tr>
                            <th>Order Nubmer</th>
                            <th style="min-width: 100px !important;">Order Date</th>
                            <th style="min-width: 100px !important;">Amount</th>
                            <th>Order Status</th>
                            <th style="min-width: 80px !important;">Action</th>
                        </tr>
                        <tr ng-repeat="item in CustomerOrders.data|filter: {orderNumber: searchText }">
                            <td>{{item.orderNumber}} </td>
                            <td>{{item.orderdate| date:"dd.MM.YYYY"}}</td>
                            <td>{{item.total|currency:"₹ "}}</td>
                            <td><span class="label label-warning"> {{item.orderstatus}}</span></td>
                            <td><a href="" class="btn btn-primary  btn-sm"><i style="color:white" class="fa fa-eye"></i></a> <a href="" ng-click="Cancleorderitem(item.id)" class="btn btn-primary  btn-sm"><i style="color:white" class="fa fa-close"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<div class="col-md-6">
                <select class="form-control" style="width:64px" ng-change="loadingroder(loadnumber)" ng-model="loadnumber">
                    <option>5</option>
                    <option>25</option>
                    <option>50</option>
                    <option>All</option>
                </select>
            </div>-->
            <!--<div class="col-md-6">
                <input type='text' class="form-control" ng-model='searchText' placeholder="Search a order number" />

            </div>-->
            <!--<div class="card">-->
            <!--<div class="col-md-12">

                <table class="table table-bordered bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Order Nubmer</th>
                            <th>Order Date</th>
                            <th>Total Amount</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in CustomerOrders.data|filter: {orderNumber: searchText }|limitTo:loadnumber">
                            <td>{{item.orderNumber}} </td>
                            <td>{{item.orderdate| date:"dd.MM.YYYY"}}</td>
                            <td>{{item.total|currency:"₹ "}}</td>
                            <td><span class="label label-warning"> {{item.orderstatus}}</span></td>
                            <td><a href="" ng-click="getorderitem(CustomerOrders.customerdetails,item)" class="btn btn-primary  btn-sm"><i style="color:white" class="fa fa-eye"></i></a> <a href="" ng-click="Cancleorderitem(item.id)" class="btn btn-primary  btn-sm"><i style="color:white" class="fa fa-close"></i></a></td>
                        </tr>
                    </tbody>

                </table>

            </div>-->
            <!--</div>-->

        </div>
    </div>

</section>
    <style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>



